*{
    padding:0;
    margin:0;
}
.header{
    border-right: 1px rgb(70, 70, 70) solid;
    width:fit-content;
    position:fixed;
}
.headName{
    color:white;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:2.5rem;
    padding:1.6rem;
    margin-right:3rem;
}
.icon{
    display: flex;
    color:white;
    font-size:1.2rem;
    font-family: "Fira Sans", sans-serif;
    font-weight:400;
    padding:1.1rem;
    margin-left:0.8rem;
    border-radius: 1rem;
}
.icon i {
    margin-right:1rem;
}
.icon i :hover{
    font-size:2rem;
}
.icon:hover{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.dp img{
    height:30px;
    width:30px;
    border-radius:50%;
    margin-right:7px;
}
.profileName{
    font-size:1.4rem;
    font-family: "Fira Sans", sans-serif;
    font-weight:400;
    color:white;
}
.headProfile{
    display:flex;
    padding:1rem;
}

@media (max-width: 1000px) {
  .header {
    position: fixed;
    left: 3rem;
    bottom:0;
    right: 0; 
    border-top: none; 
    display:flex;
    justify-content: space-evenly; 
    align-items: center;
    z-index: 1000;
  
  }
  .headName {
    display: none; 
  }
  
  .headIcons  {
    background-color: rgb(3, 2, 2);
    display:flex;
    font-size: 2rem; 
    width:fit-content; 
    padding:0.5rem;
  }

  .profileName ,.iconNmae{
    display: none;  
  }

  .headIcons .icon{
    position: relative;
    left:-3rem;
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%; 
  }
}
.headProfile:hover{
  cursor:pointer;
}