*{
    padding:0;
    margin:0;
}
.header{
    border-right: 1px rgb(70, 70, 70) solid;
    width:fit-content;
}
.headName{
    color:white;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:2.5rem;
    padding:2rem;
    margin-top:0.4rem;
    margin-right:7rem;
}
.icon{
    display: flex;
    color:white;
    font-size:1.4rem;
    font-family: "Fira Sans", sans-serif;
    font-weight:400;
    padding:1.1rem;
    margin-left:1rem;
    border-radius: 1rem;
}
.icon i {
    margin-right:1rem;
}
.icon i :hover{
    font-size:2rem;
}
.icon:hover{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.dp img{
    height:30px;
    width:30px;
    border-radius:50%;
    margin-right:7px;
}
.profileName{
    font-size:1.4rem;
    font-family: "Fira Sans", sans-serif;
    font-weight:400;
    color:white;
}
.headProfile{
    display:flex;
    padding:1rem;
    margin-left:0.8rem;
}

@media (max-width: 1300px) {
  .header {
    position: fixed;
    left: 0;
    top:6rem;
    right: 0;
    border-top: none; /* Remove top border */
    display:flex;
    justify-content: space-evenly; /* Distribute icons evenly */
    align-items: center;
    /* padding: 0.8rem 0; */
    z-index: 1000;
  
  }
  .headName {
    display: none; /* Hide name on small screens */
  }
  
  .headIcons  {
    display: grid;
    font-size: 2rem; /* Increase size of icons on small screens */
    width: 70px; /* Increase the width of the icons for better touch target */
  }

  .profileName ,.iconNmae{
    display: none; /* Hide profile name on mobile */
  }

  /* Ensures icons are aligned horizontally and spaced out properly at the bottom */
  .headIcons .icon{
    position: relative;
    left:-3rem;
    flex-direction: row; /* Align items in a row */
    justify-content: space-around; 
    width: 100%; 
  }
  .headProfile {
    display: none; /* Hide profile name and image on smaller screens */
  }
}